<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SimpleImageResizer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SimpleImageResizer.Properties.Settings>
            <setting name="DestinationDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="SimpleResizeSetting" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="OptionOverwrite" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OptionAddNumericSuffix" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OptionShowMessageBox" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OptionClearImages" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OptionUseAllProcessors" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OptionJpgQuality" serializeAs="String">
                <value>70</value>
            </setting>
        </SimpleImageResizer.Properties.Settings>
    </userSettings>
</configuration>