################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SimpleImageResizer/obj
/SimpleImageResizer/bin/
/SimpleImageResizer/Properties/PublishProfiles/
/.vs/
/.git/
/Documentation/