################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SimpleImageResizer/obj
/SimpleImageResizer/bin/Debug/net7.0-windows
